<div class='logo'>
  <%= image_tag "logo.png", :title => "La Boda de Pablo y Carmen" %>
</div>
<div class='announce'>
  Ya están disponibles las fotos y vídeos del evento.
  <span class='mini'><a title='Descarga las fotos y vídeos.' alt='Descarga las fotos y vídeos' href='https://www.dropbox.com/sh/iy6ttik70e61bz5/AACK3_NTGrwnJa-PkcQybMgXa?dl=0' class='btn btn-lg btn-success'>Descárgalos aquí.</a></span>
</div>