<div class='logo'>
  <%= image_tag "logo.png", :title => "La Boda de Pablo y Carmen" %>
</div>
<div class='announce'>
  ¡Pronto llegará el evento del año!
  <span class='mini'>Vuelve dentro de unos días para descargar las fotos del evento.</span>
</div>